#import-dialog {
  .modal-dialog {
    width: 80%;
  }
}

.revalidate-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.is-not-valid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  padding: 5px 5px;
}

.status-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  justify-content: center;
  align-items: center;
  svg {
    width: 5em;
    height: 5em;
  }
}

.revalidate-button {
  display: flex;
  width: 4em;
  height: 4em;
  justify-content: center;
  align-items: center;
  svg {
    width: 3em;
    height: 3em;
  }
}

.table-mods-to-import.cell-local {
  text-align: center;
}

.btn-mods-to-import-status-yes, .toggle-mods-to-import-status-yes {
  background-color: $brand-success;
}

.btn-mods-to-import-status-no, .toggle-mods-to-import-status-no {
  background-color: $gray;
}

#dropdown-mods-to-import-status {
  padding: 2px 5px;
  border: 0px;
  border-left: 1px solid $gray-light;
  min-width: 0px;
}

.import-mods-selection {
  display: flex;
  flex-direction: column;
  height: 90%
}

.import-working-container {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $gutter-width;
}

.import-success {
  @extend .h3;
  text-align: center;
  color: $brand-success;
  svg {
    width: 2em;
    height: 2em;
  }
}

.import-wont {
  @extend .h4;
  svg {
    fill: $brand-danger;
    width: 2em;
    height: 2em;
  }
}

.import-conflict-title {
  @extend .h3;
  svg {
    fill: $brand-warning;
  }
}

.import-will {
  @extend .h4;
  svg {
    fill: $brand-success;
    width: 2em;
    height: 2em;
  }
}

.import-errors {
  @extend .h3;
  text-align: center;
  color: $brand-danger;
}

.import-review-text {
  text-align: center;
  color: $text-color-disabled;
}

.disk-space-insufficient {
  color: $brand-danger;
}

.calculation-error {
  color: $brand-danger;
}

.import-archives-warning {
  color: $brand-warning;
}